<ion-view title="Cloud Tab Default Page">
    <ion-content padding="true" class="has-header">
        <h1>Heading</h1>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item class="item-thumbnail-left" href="#/page7">
                <img>
                <h2>Title7</h2>
                <p>Item88</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>