<ion-view title="Comune di Rimini">
    <ion-content padding="true" class="has-header">
        <h4>Protocollazione mobile</h4>
        <ion-list></ion-list>
        <img src="img/logo_rimini.png" width="50%" height="auto" style="width: 50%; height: auto;">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Utente</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a href="#" class="button button-positive button-block ">Accedi</a>
    </ion-content>
</ion-view>