<ion-view title="Comune di Rimini">
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/logo_comune_80x80.1139749605.gif">
                <h2>Utente autenticato</h2>
                <p>Mario Rossi</p>
            </ion-item>
        </ion-list>
        <form class="list">
            <ion-list></ion-list>
            <a href="#" class="button button-assertive button-block ">Richiedi nuovo protocollo</a>
        </form>
        <div>
            <p>Protocolli precedentementi acquisiti</p>
        </div>
        <ion-list>
            <ion-item>2015/3541 del 12/05/2015</ion-item>
            <ion-item>2015/4541 del 17/05/2015</ion-item>
            <ion-item>2015/3521 del 19/05/2015</ion-item>
            <ion-item>2015/3522 del 19/05/2015</ion-item>
            <ion-item>2015/3531 del 21/05/2015</ion-item>
            <ion-item>2015/3533 del 21/05/2015</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>