<style>
.superfill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: red;
}
</style>
<ion-view title="" hide-nav-bar="true" hide-back-button="true">
<div id="area" class="superfill">
    <canvas id="canvas" class="superfill"></canvas>
</div>
<audio preload="true" id="collide">
    <source src="http://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.mp3" />
    <source src="http://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.wav" />
</audio>
</ion-view>