<ion-view title="EventSource">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="UserName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="UserName">
            </label>
            <label class="item item-input" name="ChannelName">
                <span class="input-label">Channel</span>
                <input type="text" placeholder="ChannelName">
            </label>
            <label class="item item-input" name="MessageTXT">
                <span class="input-label">Message</span>
                <input type="text" placeholder="Message2Send">
            </label>
            <div class="button-bar">
                <button class="button button-balanced button-block  icon ion-android-add"></button>
                <button class="button button-assertive button-block  icon ion-ios-eye"></button>
                <button class="button button-positive button-block  icon ion-android-drafts"></button>
                <button class="button button-calm button-block  icon ion-android-clipboard"></button>
            </div>
            <ion-toggle toggle-class="toggle-positive">Connection</ion-toggle>
            <label class="item item-input" name="Log">
                <span class="input-label">Log</span><textarea placeholder="Log"> Log</textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>