<ion-view title="Intro">
    <ion-content padding="false" class="has-header">
        <h1></h1>
        <div class="list card">
            <div class="item item-body">
                <h1>Lista App</h1>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
                <h2>Prot.</h2>
                <div>
                    <p>Some friendly
                        <strong>markdown</strong>
                        dsasòdsdh askdjh kajdsh kajhdads</p>
                </div>
                <a href="#" class="button button-royal button-block ">Tap me!</a>
            </div>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>